apiVersion: iam.entra.governance.com/v1alpha1
kind: EntraAppRegistration
metadata:
  labels:
    app.kubernetes.io/name: entra-governance
    app.kubernetes.io/managed-by: kustomize
  name: entraappregistration-sample
spec:
  forProvider:
    credentialSecretRef: entra-graph-credentials
  name: entraappregistration-sample-boom
  description: "Sample App Registration created by Entra Governance Operator"
  tags:
    - "owner: vimal vijayan"
    - "description: sample app registration created by Entra Governance Operator"
  notes: "This is a sample application registration created by Entra Governance Operator. It is used for testing and demonstration purposes."
  owners:
      - 6ab28387-2323-4e1b-8d8a-e1c0a579c985 # Vick
      - 81c383e4-6d2f-43a1-8304-6a669a1814dd # Service Principal
  servicePrincipal:
    enabled: false
    disableVisibilityForGuests: true
  # signInAudience: AzureADMyOrg
  # allowImplicitFlow: true
  # oauth2AllowIdTokenImplicitFlow: true
  # appRoleAssignmentRequired: false
  # web:
  #   redirectUris:
  #     - https://myapp.com/auth/callback
  #   logoutUrl: https://myapp.com/logout
  # requiredResourceAccess:
  #   - resourceAppId: 00000003-0000-0000-c000-000000000000 # Microsoft Graph
  #     resourceAccess:
  #       - id: e1fe6dd8-ba31-4d61-89e7-88639da4683d # User.Read
  #         type: Scope
  #       - id: 06da0dbc-49e2-44d2-8310-4f3f2d09b1f0 # Group.Read.All
  #         type: Role
  # optionalClaims:
  #   idToken:
  #     - name: "given_name"
  #       source: "user"
  #       essential: false
  #     - name: "family_name"
  #       source: "user"
  #       essential: false
  # appRoles:
  #   - displayName: "App Reader"
  #     description: "Allows reading application data"
  #     isEnabled: true
  #     value: "App.Reader"
  #     allowedMemberTypes:
  #       - User
  #       - Application
  #   - displayName: "App Writer"
  #     description: "Allows writing application data"
  #     isEnabled: true
  #     value: "App.Writer"
  #     allowedMemberTypes:
  #       - User
  #       - Application
