apiVersion: iam.entra.governance.com/v1alpha1
kind: EntraSecurityGroup
metadata:
  labels:
    app.kubernetes.io/name: entra-governance
    app.kubernetes.io/managed-by: kustomize
  name: marketing-collab
spec:
  name: marketing-collab
  description: "Collaboration group for the marketing team"
  mailEnabled: false
  securityEnabled: true
  mailNickname: marketing-collab
  # groupTypes:
  #   - Unified
  owners:
    - 93ae7387-40a8-4f68-93d0-bba960155bd8 # user
  members:
    - 93ae7387-40a8-4f68-93d0-bba960155bd8 # user
    - 51d399fb-e209-4240-afc1-08baa1e13023 # aks-cluster-admin
  forProvider:
    credentialSecretRef: entra-graph-credentials   # Kubernetes secret name